body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.columncatalog {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.cardcatalog {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.imgcatalog {
  height: 200px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.containercatalog {
  padding: 0 16px;
}

.containercatalog::after,
.rowcatalog::after {
  content: '';
  clear: both;
  display: table;
}

.titlecatalog {
  color: grey;
}

.buttoncatalog {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.buttoncatalog:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .columncatalog {
    width: 100%;
    display: block;
  }
}
